AZURE_OPENAI_ENDPOINT=https://cognitiveservice-komme017.openai.azure.com/
AZURE_OPENAI_KEY=4eodSGL8jyz8ULaJPLMaBSWXX5rZIgWuPnaN1NTA7jYZ1G5tvLSHJQQJ99CFACHYHv6XJ3w3AAABACOGdEWx
AZURE_OPENAI_DEPLOYMENT=gpt-4.1-mini
AZURE_OPENAI_API_VERSION=2024-10-21
